* {
    padding: 0;
    margin: 0;
    border: none;
}

#container {
    height: 100vh;
    width: 100vw;
}

#time {
    position: absolute;
    top: 200px;
    display: flex;
    flex-direction: column;
    left: 50%;
    transform: translateX(-55%);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
}

.line {
    height: 20px;
    width: 300px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 400px;
    border-radius: 30px;
    background-color: #55CDFC;
    overflow: hidden;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
}
.line.inner {
    height: 20px;
    width: 300px;
    left: 0;
    transform: none;
    top: 0;
    background-color: #F7A8B8;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}
#percent {
    transform: translateX(-100);
    transition: transform 700ms cubic-bezier(.41,-0.04,.47,1.05);
}

#navigation {
    bottom: 30px;
    position: absolute;
    width: 100vw;
    display: flex;
    flex-direction: row;
}
#navigation .button {
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 20px;
    background-color: bisque;
    margin-left: 20px;
    border-radius: 7px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
}